/* Additional styles for the menu bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040404;
    padding: 2%;
  }
  
  nav .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  nav .menu > li {
    position: relative;
  }
  
  nav .menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }

  nav .submenu li {
    color: white;
    text-decoration: none;
    padding: 5%;
    width: 200%;
  }

   
  nav .menu .submenu {
    display: none;
    position: absolute;
    background-color: #040404;
    list-style-type: none;
    margin: 10%;
    padding: 5%;
  }

  nav .submenu {
    width: 300%;
    padding: 10%;
    z-index: 1100;
  }

  #item1 {
    width: 200% !important;
  }

  #item2 {
    width: 300% !important;
  }

  #item2 > li {
    width: 200% !important;
  }

  nav .submenu > li {
    position: relative;
  }


  nav .menu li:hover .submenu {
    display: block;
  }
  
  nav .login-button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  nav .logo {
    width: 10%; /* Adjust width as needed */
    height: auto;}

    nav .menu-toggle {
        display: none;
        cursor: pointer;
        
    }

    .fa {
        
        font-size: 10%;
        width: 10%;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        
      }


/* Styles for mobile view */
@media (max-width: 768px) {
    nav .menu {
        position: fixed;
        top: 4%;
        left: 0%;
        width: 100%;
        height: 96%;
        background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none; /* Hidden by default */
        z-index: 1000; /* High z-index to ensure it overlays other content */
    }
    
    nav .menu-toggle {
        display: block;
        cursor: pointer;   
    }
    
    nav .menu.show {
        display: flex;
    }

    nav .menu.show > li {
        width: 100%;
        text-align: center;
        cursor: pointer;
    }

    nav .menu.show .submenu {
        display: none;
        z-index: 1100;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */

    }

    nav .submenu > li{
        padding: 1%;
        width: 100%;
    }
    

    /* nav .menu.show > li.open.submenu {
        display: block;
        width: 80%; */
        /* padding-left: 20px; Indentation for submenu items */
    /* } */

    #item1 {
        width: 100% !important;
        padding: 0%;
        margin: 0%;
    }

    #item1 > li {
        width: 100% !important;
        padding: 0%;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    #item2 {
        width: 100% !important;
        padding: 0%;
        margin: 0%;
    }

    #item2 > li {
        width: 100% !important;
        padding: 0%;
        margin-top: 5%;
        margin-bottom: 5%;

    }

}
